﻿@model List<Meet_Meet.WebApp.Models.MeetingMessageModel>
@{
    ViewBag.Title = "Meetings";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-success direct-chat direct-chat-success">
            <div class="box-header with-border">
                <h3 class="box-title">Meet-Meet Box</h3>
                @*<div class="box-tools pull-right">
                    <span data-toggle="tooltip" title="3 New Messages" class="badge bg-green">3</span>
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle"><i class="fa fa-comments"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>*@
            </div>
            <div class="box-body">
                <div class="direct-chat-messages chat-container">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        ViewBag.DirectionCSS = i%2 == 0 ? null : "right";
                        ViewBag.TimeStampCSS = i%2 == 0 ? "pull-right" : "pull-left";
                        
                        @Html.Partial("Partial/_MessagePartial", Model[i])
                    }
                </div>
            </div>
            <div class="box-footer">
                @using (Ajax.BeginForm("SaveMessage", "Meetings", null, new AjaxOptions()
                {
                    HttpMethod = "POST",
                    OnSuccess = "messageSent(data, status, xhr, '#saveMessageForm')"
                }, new { @id = "saveMessageForm", @class="chat-send-message-form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="input-group">
                        <input type="text" name="message" placeholder="Type Message ..." class="form-control chat-message" autocomplete="off">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success btn-flat"><i class="fa fa-send" ></i> Send</button>
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/meetings")
}