﻿@model Meet_Meet.WebApp.Models.MeetingMessageModel
           
<div class="direct-chat-msg chat-item @ViewBag.DirectionCSS">
    <div class="direct-chat-info clearfix">
        @*<span class="direct-chat-name pull-left">Alexander Pierce</span>*@
        <span class="direct-chat-timestamp chat-timestamp @ViewBag.TimeStampCSS">@Model.CreatedOn</span>
    </div>
    @*<img class="direct-chat-img" src="../dist/img/user1-128x128.jpg" alt="message user image">*@
    <div class="direct-chat-text">
        @Model.Message
    </div>
</div>
